@charset "utf-8";


@import url('common.css');
@import url('basic.css');



.bg { height: 500px; background-repeat: no-repeat; background-position: 0 0; -webkit-background-size: 100% auto; background-size: 100% auto; }
.bg.type0 { background-image: url('../images/1.jpg'); }
.bg.type1 { background-image: url('../images/2.jpg'); }
.bg.type2 { background-image: url('../images/3.jpg'); }
.bg.type3 { background-image: url('../images/4.jpg'); }
.bg.type4 { background-image: url('../images/5.jpg'); }




}