@import "variables";
@import "font";

* {
  padding: 0;
  margin: 0;
}
html, body { height: 100%; }
img { vertical-align: top; border: 0; }

body {
  background-color: $myColor;
  font: 16px/1.6 'Noto Sans KR', sans-serif;
}

#bg { 
  position: absolute; 
  left: 0;
  top: 0; 
  width: 100%; 
  height: 100%;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  img { width: 100%; height: 100vh; -o-object-fit: cover; object-fit: cover; opacity: 0; -webkit-transition: opacity 1s; transition: opacity 1s;}
  img.complete { opacity: 1; }
  
}

#greeting {
  text-align: center;

  h1, input, button { display: none; }

  &.apply {
    h1  { display: block; }
    input { display: none; }
    button { display: inline-block; }
  }
}