@import "variables";
@import "font";

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $myColor;
  font: 16px/1.6 'Noto Sans KR', sans-serif;

  &:first-child { display: block;}
}

