@import "variables";
@import "reset";
@import "font";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}


input[type=text] {
  width: 100%;
  padding: 0 10px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  -webkit-border-radius: 0;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
}



body {
  background-color: $myColor;
  font: 16px/1.6 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  word-wrap: break-word;


}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
    filter: hue-rotate(-360deg);
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
    filter: hue-rotate(-360deg);
  }
}

.body_wrap {
  padding: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }

  img.complete {
    opacity: 1;
  }

}

.reset_area {
  text-align: center;
  margin: 0;

  >* {
    display: none;
  }
}


#greeting {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;

  h1 {
    font-size: 5vw;
    font-weight: 700;
  }

  h1,
  input {
    display: none;
  }

  &.apply {
    h1 {
      display: inline-block;
      background: -webkit-gradient(linear, left top, right top, from(#ff0000), color-stop(17%, #ff9500), color-stop(34%, #ffff00), color-stop(51%, #00ff00), color-stop(67%, #0000ff), color-stop(84%, #00177f), to(#ad20e5));
      background: linear-gradient(to right, #ff0000 0%, #ff9500 17%, #ffff00 34%, #00ff00 51%, #0000ff 67%, #00177f 84%, #ad20e5 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-animation: hue 2s infinite linear;
      animation: hue 2s infinite linear;
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    }

    input {
      display: none;
    }


  }
}

.todoList {
  >div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    ul {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 20px;
      padding: 10px;
      background: rgba(0, 0, 0, .25);
      border-radius: 5px;
      color: #fff;

      &:before {
        text-align: center;
        font-weight: 700;
        display: block;
        margin-bottom: 20px;
      }

      &#todo:before {
        content: '해야 할 일';
      }

      &#todoComplete {
        >li {
          text-decoration: line-through;
          -webkit-text-decoration-color: #000;
          text-decoration-color: #000;
        }

        &:before {
          content: '완료 한 일';
        }

      }

      >li {
        span {}

        button {
          border: none;
          background: none;
          padding: 4px 5px;
          vertical-align: 1px;

          &:active {
            -webkit-filter: invert(100%);
            filter: invert(100%);
          }
        }
      }




      &:empty {
        display: none;
      }
    }

  }
}


#weather {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background: rgba(0, 0, 0, .25);

  &:empty {
    display: none;
  }
}